body {
  margin: 0;
  padding: 0;
  display: flex; /*Creando un contexto para flexbox*/
  /* Para centrar la caja contenedora respecto al body aplico las siguientes propiedades*/
  flex-direction: column; /*con esta propiedad convierto mi main axis en el eje vertical */
  justify-content: center; /*con esta propiedad centro el elemento de acuerdo al main axis que es vertical*/
  align-items: center; /*con esta propiedad centro el elemento de acuerdo al cross axis que es horizontal*/
  }

h1 {
  text-align: center;
  color:blue;
}

.flex-container {
  width: 600px;
  height: 600px;
  background-color: rgb(201, 227, 107);
  color: indigo;
  display: flex; /*Genera 2 ejes, el principal (main axis) y el secundario (cross axis) y puedo cambiar estos ejes con la propiedad flex-direction"*/
  flex-direction:column-reverse; /*aquí el eje principal (main axis) sigue siendo vertical, y su main size es igualmente el alto, pero el main start está en la parte inferior y el main end en la parte superior (lo contrario al column)*/
}

.flex-item {
  background-color:lightskyblue;
  color: blueviolet;
  font-size: 50px;
}

.flex-item:nth-child(odd) {
  background-color: lightcoral;
}

footer {
background-color: rgba(19, 81, 143);
color: wheat;
width: 600px;
height: 80px;
display: flex; /*Creando un contexto para flexbox*/
justify-content: center; /*con esta propiedad centro el elemento de acuerdo al main axis (eje principal) que es horizontal*/
align-items: center; /*con esta propiedad centro el elemento de acuerdo al cross axis (eje secundario) que es vertical*/
}

