body {
  margin: 0;
  padding: 0;
  display: flex; /*Creando un contexto para flexbox*/
  /* Para centrar la caja contenedora respecto al body aplico las siguientes propiedades*/
  flex-direction: column; /*con esta propiedad convierto mi main axis en el eje vertical */
  justify-content: center; /*con esta propiedad centro el elemento de acuerdo al main axis que es vertical*/
  align-items: center; /*con esta propiedad centro el elemento de acuerdo al cross axis que es horizontal*/
  }

h1 {
  text-align: center;
  color:blue;
}

.flex-container {
  width: 600px;
  height: 600px;
  background-color: rgb(201, 227, 107);
  color: indigo;
  font-size: 80px; /* para aumentar el tamaño de letra de la palabra texto */
  display: flex; /*Genera 2 ejes, el principal (main axis) y el secundario (cross axis) y puedo cambiar estos ejes con la propiedad flex-direction"*/
  flex-direction: column;
  justify-content: center; /* Estas propiedades de flex se aplican a los items, para centrarlos de acuerdo al eje principal, en este caso el eje principal es horizontal */
}

.flex-item {
  background-color:lightskyblue;
  color: blueviolet;
  font-size: 50px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-item:nth-child(odd) {
  background-color: lightcoral;
}

footer {
background-color: rgba(19, 81, 143);
color: wheat;
width: 600px;
height: 80px;
display: flex; /*Creando un contexto para flexbox*/
justify-content: center; /*con esta propiedad centro el elemento de acuerdo al main axis (eje principal) que es horizontal*/
align-items: center; /*con esta propiedad centro el elemento de acuerdo al cross axis (eje secundario) que es vertical*/
}